$browser_context: 16; // Default

@function rem($pixels, $context: $browser_context) {
  @return #{$pixels/$context}rem;
}

@function em($pixels, $context: $browser_context) {
  @return #{$pixels/$context}em;
}

$tablet_breakpoint: em(1024);
$mobile_breakpoint: em(768);

$font_body: 'Roboto';
$font_title: 'Latos';

$color_body: #000;
$color_bg: #fff;
$color1: red;
$color2: blue;

$curve: cubic-bezier(0.19, 1, 0.22, 1);

$space_xsmall: rem(8);
$space_small: rem(16);
$space_medium: rem(32);
$space_large: rem(64);
$space_xlarge: rem(128);

$columns: 24;
$column-gap: rem(12);
